header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background-color: white;
  align-items: center;
  color: black;
}

.logo {
  font-size: 1.2rem;
}
.logo:hover {
  cursor: pointer;
}

.profile-icon {
  font-size: 0.9rem;
}
.profile-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .profile-icon {
    display: none;
  }
  
  .logo {
    width: 100%;
    text-align: center;
  }
}