nav {
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 60px;
  width: 20%;
  border-right: 1px solid var(--primary);
}

main {
  margin-top: 100px;
  margin-left: 22%;
  margin-right: 60px;
}

.content-header {
  margin: 20px 0;
}

.content-header h1 {
  display: inline;
}

.settle-up {
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px 30px;
  float: right;
}
.settle-up:hover {
  cursor: pointer;
  background-color: var(--secondary);
}