nav {
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 60px;
  width: 20%;
  border-right: 1px solid var(--primary);
}

main {
  margin-top: 100px;
  margin-left: 22%;
  margin-right: 60px;
}

.content-header {
  margin: 20px 0;
}

.content-header h1 {
  display: inline;
}

.settle-up {
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px 30px;
  float: right;
}
.settle-up:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

footer {
  display: none;
}

@media screen and (max-width: 1040px) {
  nav {
    width: 25%;
  }
  main {
    margin-left: 28%;
  }
}

@media screen and (max-width: 850px) {
  nav {
    width: 85px;
  }
  main {
    margin: 100px 20%;
  }
}

@media screen and (max-width: 670px) {
  nav {
    display: none;
  }
  
  main {
    margin: 100px 15%;
  }
  
  footer {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  main {
    margin: 100px 5%;
  }

  footer {
    display: block;
  }
}